name: Notify Discord on new Issue

on:
  issues:
    types: ["opened"]


jobs:
  notify:
    name: Send Discord Notification
    runs-on: ubuntu-latest
    steps:
      - name: Notify Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_PEP_WEBHOOK_URL }}
        uses: Ilshidur/action-discord@master
        with:
          args: 'New PEP created'
